# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
ENV/
env/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/
